{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5 text-center">

    <!-- 마스코트 이미지 -->
    <div class="my-4">
        {% block mascot_image %}{% endblock %}
    </div>

    <!-- 메인 이벤트 -->
    <div class="card mx-auto shadow-sm" style="max-width: 600px;">
        <div class="card-body">
            <h4 class="card-title mb-4">🎉 이번 주 메인 이벤트</h4>


            <!-- 승률 예측 -->
            {% if main_event %}
                <h5>{{ main_event.month }}/{{ main_event.date }} ({{ main_event.day }})</h5>
                <p><strong>{{ main_event.time }}</strong>&emsp; {{ main_event.stadium }}</p>

                <div class="d-flex align-items-center justify-content-center my-3">
                    <div class="me-4 text-center">
                        <img src="{% static 'images/teams/'|add:main_event.league|add:'/'|add:main_event.team1|add:'.png' %}" 
                             style="height: 50px; object-fit: contain;">
                        <h5 class="mt-2">{{ main_event.team1 }}</h5>
                        <span class="badge bg-primary">{{ main_event.win_prob_team1 }}%</span>
                    </div>

                    <span class="mx-3 fs-4">VS</span>

                    <div class="ms-4 text-center">
                        <img src="{% static 'images/teams/'|add:main_event.league|add:'/'|add:main_event.team2|add:'.png' %}" 
                             style="height: 50px; object-fit: contain;">
                        <h5 class="mt-2">{{ main_event.team2 }}</h5>
                        <span class="badge bg-danger">{{ main_event.win_prob_team2 }}%</span>
                    </div>
                </div>

                <small class="text-muted">Game Prediction by Percentage</small><br>
                <small class="text-muted">{{ league|upper }} Regular Season</small>
            {% else %}
                <p class="text-muted">⚠️ Admin이 경기를 등록하지 않았습니다.</p>
            {% endif %}


            <!-- 총 득점 그래프 -->
            {% if main_event and main_event.scenario_team1 and main_event.scenario_team2 %}
                {% include "components/cumulative_scenario.html" %}
            {% else %}
            {% endif %}

        </div>
    </div>



    


        


{% endblock %}
